{% extends "base.html" %}

{% block title %}
Jobs
{% endblock %}

{% block content %}

<div class="container">
    <h2 class="mt-5">Create Task</h2>
    <form class="input-group mt-2 my-form" action="" method="POST">
        <select class="form-select" id="inputGroupSelect01" name="task_type">
            <option selected value="Electronics repair">Electronics repair</option>
            <option value="Bike repair">Bike repair</option>
            <option value="Engine check">Engine check</option>
            <option value="Charging station check">Charging station check</option>
            <option value="Charging station installation">Charging station installation</option>
            <option value="Vehicle maintenance">Vehicle maintenance</option>
        </select>
        <input type="text" class="form-control" placeholder="Quantity" name="quantity">
        <select class="form-select" id="inputGroupSelect02" name="client_name">
            <option selected value="Electronics repair">{{all_client_names[0]}}</option>
            {% for client_name in all_client_names[1:] %}
            <option value="{{client_name}}">{{client_name}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" type="submit" name="action" value="update">Create</button>
    </form>
</div>

<div class="container">
    <h2 class="mt-5">Current Jobs</h2>
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Client</th>
                <th scope="col">Employees</th>
                <th scope="col">Expected Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for job in all_jobs %}
            <tr>
                <td>{{job.task_type}}</td>
                <td>{{job.quantity}}</td>
                <td>{{job.date_created.strftime('%d.%m.%Y %H:%M:%S')}}</td>
                <td>{{job.client_name}}</td>
                <td>{{job.team_members}}</td>
                <td>{{job.total_working_hours}}h</td>
                <td>
                    <form action="" method="POST">
                        <input type="hidden" name="id" value="{{job.id}}">
                        <input type="hidden" name="client_id" value="{{job.client_id}}">
                        <button type="submit" class="btn btn-link" name="action" value="map">Show Map</button>
                        <button type="submit" class="btn btn-link" name="action" value="delete">Finished</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}